
/* pop/drop used in popanimation.js */
.pop {
    transition: transform 0.2s;
    transform: scale(1.02); /* Increase the size of the image by 20% */
}

.drop {
    transition: transform 0.2s;
    transform: scale(1); /* Return the image to its original size */
}
.fadein {
    transition: transform 0.2s;
    transform: opacity(1);

}
.fadeout {
    transition: transform 0.2s;
    transform: opacity(0);
}
main {width:100%;}
.gallery-image {
    margin: 2em 0;
    max-width: 100%;
    max-height: 100%;
}
.desktop-nav {display: none;}
.lightbox {
    z-index: 3;
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100vw + 1.3em);
    height: 100vh;
    left: -1.3em;
    background-color: rgba(0, 0, 0, 0.65);
}
.lightbox-exit {
    position: absolute;
    right: 10px;
    top: 10px;
}
.lightbox-open {overflow: hidden;}
.lb-selector {display: none;}
.lb-infocontainer {
    display: flex;
    width: 90vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

/* DESKTOP STYLE */
@media (min-width: 1024px) {
    .lb-infocontainer {
        justify-content: space-around;
    }
    .lb-selector {display: block;}
    .lightbox-next:hover, .lightbox-prev:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    body {
        height: calc(100vh - 2.6em);
        display: grid;
        grid-template-rows: 1fr .3fr;
        align-items: space-between;
    }
    .gallery-image {
        margin: 0 2em;
    }
    .desktop-nav {
        display: grid;
        left: 0;
        bottom: 0;
        padding: 1em 1em 0 1em;
        width: 1000px;
        height: 100%;
        grid-template-columns: 1fr 1.2fr;
    }
    main::-webkit-scrollbar {
        display: none;
    }
    main {
        height: 90%;
        display: flex;
        scrollbar-width: none;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: left;
      }
    .desktop-nav-lcol {
        margin-right: 20%;
    }
    .desktop-nav-rcol {
        margin: auto;
    }
    footer {
        margin-top: 2em;
    }
    .first-image {margin-left: 20em;}
    .lb-infocontainer {
        width: 800px;
        background-color: rgba(0, 0, 0, 0.45);
        margin: .7em;
        padding: .5em;
        border-radius: 10px;
    }
    .lb-image {
        max-height: 95vh;
    }
}