/* google fonts */
.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
/* Reset default browser styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Set font and background color */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: .8em;
    background-color: #f2f2f2;
    margin: 0 1.3em;
}

/* Style heading */
h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

#wordmark {
    width: 125px;
}
main {width: 80%;}
.main-image {width: 100%;}
.hamburger-menu {
    transition: height 0.5s ease-out;
    overflow: hidden;
    top: 4em;
    position: absolute;
    background-color: #f2f2f2; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - (1.3em*4));
    height: 0px;
    /* height: calc(100vh - (2.6em + 4em)); */
    padding: 0 1.3em;
}
.nav-table {
    margin-top: 2em;
    width: 100%;
}
.nav-table td {
    padding: .5em 0;
}
.table-title-link {
    color: black;
}
.table-date {
    text-align: right;
}
#hamburger {
    width: 25px;
}
header {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2; 
    position: sticky;
    top: 0;
    padding: 1.3em;
    z-index: 2;
    width: 100%;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.3em;

}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p {
    letter-spacing: .075em;
    line-height: 1.25;
}
footer {
    width: 100%;
}
.active {
    font-weight: 700;
    font-style: normal;
}
/* DESKTOP STYLE */
@media (min-width: 1024px) {
    body {
        margin-top: 1.3em;
        height: calc(100vh - 1.3em);
    }
    header {display: none;}
}